@import url(common.css);

/* 공통 영역 */
.inner {
  width: 1080px;
  margin: 0 auto;
}
html {scroll-behavior: smooth;}

/* 탑버튼_____ */
#topBtn {
  position: fixed;
  right: 0;
  top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  height: 250px;
  background-color: #474747;
  border-radius: 10px;
  z-index: 99;
}
#topBtn a {
  display: block;
  width: 40px;
  height: 40px;
  filter: invert(100%);
  transition: .3s;
}
#topBtn a:hover {filter: invert(60%);}
#topBtn a:nth-of-type(1) {background: url(../images/topBtn_top.png) no-repeat center / cover;}
#topBtn a:nth-of-type(2) {background: url(../images/topBtn_gift.png) no-repeat center / cover;}
#topBtn a:nth-of-type(3) {background: url(../images/topBtn_speaker.png) no-repeat center / cover;}
#topBtn span {
  font-size: 14px;
  color: #fff;
}

/* 메뉴 버튼 클릭 시*/
.modal_wrap {
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.modal_wrap .modal_hd {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 100px;
}
#closeBtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#closeBtn span {
  position: absolute;
  right: 10px;
  top: 40px;
  width: 3px;
  height: 25px;
  background-color: #fff;
  display: inline-block;
}
.modal_wrap span:nth-child(1) {transform: rotate(45deg);}
.modal_wrap span:nth-child(2) {transform: rotate(-45deg);}

.modal_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  width: 1400px;
  padding: 0 50px;
  box-sizing: border-box;
}

.modal_list > li {
  padding: 15px 0;
  position:relative;
}

.modal_list > li.ani {
  animation: ani .4s linear;
  animation-fill-mode: both;
}
@keyframes ani {
  from {
    opacity: 0;
    right:-500px;
  } to {
    opacity: 1;
    right:0;
  }
}

.modal_list > li:nth-child(1) {animation-delay: .4s;}
.modal_list > li:nth-child(2) {animation-delay: .5s;}
.modal_list > li:nth-child(3) {animation-delay: .6s;}
.modal_list > li:nth-child(4) {animation-delay: .7s;}
.modal_list > li:nth-child(5) {animation-delay: .8s;}
.modal_list > li:nth-child(6) {animation-delay: .9s;}

.modal_list > li > a {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  transition: .3s;
}

.modal_list.on li a {color: #888;}
.modal_list:hover a:hover {color: #fff;}

.modal_list > li > a:hover {padding-left: 50px;}
.modal_list > li > a:hover::after {opacity: 1;}
.modal_list > li > a::after {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: #d60037;
  transition: .3s;
}
.modal_list li .sub_menu {
  position: fixed;  
  top: 30px;
  right: 0;
  width: 50%;
  display: none;
}

/* 메뉴 콘텐츠 */
.modal_list:hover a.on {color: #fff;}
.modal_list > li > a.on {padding-left: 50px;}
.modal_list > li > a.on::after {opacity: 1;}

.modal_list li .sub_menu > li {padding-bottom: 20px;}
.modal_list li .sub_menu > li > a {
  font-size: 32px;
  color: #fff;
}
.modal_list > li .sub_menu > li .sub_menu2 > li {margin:20px 0;}
.modal_list > li .sub_menu > li .sub_menu2 > li > a {
  font-size: 24px;
  color: #ccc;
}

/* 헤더 */
header {
  line-height: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: .3s;
  z-index: 99;
}

header .inner {width: 1400px;}

.logo {
  float: left;
  display: flex;
  align-items: center;
  height: 100px;
  margin-right: 80px; 
}
.logo h1 img {width: 184px;}

nav {float: left;height: 100px;}
nav .gnb {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  padding-top: 37px;
}
nav .gnb li a {position: relative;}
nav .gnb li > .active {color: #d60037;}
nav .gnb li > .active:hover::after {display: none;}

nav .gnb li a:hover::after, nav ul li .active a::after {
  width: 100%;
  left: 0;
}
nav .gnb li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #d60037;
  transition: .3s linear;
}
nav .gnb > li {min-width: 100px;}
nav .gnb > li >a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
/* 서브메뉴 백그라운드  */
.bg {
  width: 100%;
  height: 280px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: -1;
  display: none;
  border-top: 1px solid #e9e9e9;
}
/* 서브 메뉴____ */
.sub_menu {
  position: absolute;
  top: 100%;
  line-height: 1;
  display: none;
}
.sub_menu>li {
  margin: 20px 0;
  padding: 0;
}
.sub_menu>li>a {
  font-size: 16px;
  font-weight: 600;
  color: #444;
}
.sub_menu2 {}
.sub_menu2 li {margin: 10px 0;}
.sub_menu2 li a {
  font-size: 14px;
  color: #888;
}
.menuBtn_wrap {
  float: right;
  display: flex;
  align-items: center;
  height: 100px;
  cursor: pointer;
}
.menuBtn {
  width: 25px;
  height: 25px;
  background: url(../images/menu_ico_b.png) no-repeat center / cover;
}
/* section_____ */
section {
  padding-top: 170px;
  margin-bottom: 150px;
  line-height: 1;
}
.breadcrumb {
  margin-bottom: 80px;
}
.breadcrumb ul {
  display: flex;
  padding-left: 20px;
}
.breadcrumb ul li {
  position: relative;
  margin-right: 15px;
}
.breadcrumb ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #444;
}
.breadcrumb .active {color: #d60037;font-weight: bold;}
.breadcrumb ul li a {
  position: relative;
  font-size: 14px;
  color: #777;
}
.breadcrumb ul li a span {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

section .inner > h2 {
  font-size: 72px;
  font-weight: bold;
  color: #000;
  margin-bottom: 70px;
}

.content {
  display: flex;
  color: #333;
}
.content .con_txt {
  padding-top: 50px;
  width: calc(100% - 508px);
}
.content .con_txt h3 {
  font-size: 60px;
  font-weight: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #222;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.content .con_txt h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #222;
  margin-bottom: 40px;
}
.content .con_txt p {
  font-size: 20px;
  font-weight: normal;
  word-break: keep-all;
  line-height: 30px;
}
.content .con_img {
  background: url(../images/deli1.jpg) no-repeat center / cover;
  width: 508px;
  height: 650px;
}

.item_title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 150px 0 30px 0;
}
.item_wrap {overflow: hidden;}
.item_wrap > div {
  position: relative;
  width: 320px;
  height: 320px;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
}
.item_wrap > div:hover::after {height: 100%;}
.item_wrap > div:hover .text_wrap {opacity: 1;}
.item_wrap > div:hover .label {display: none;}
.item_wrap > div::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: .3s;
}
.item_wrap > div > .text_wrap {
  position: absolute;
  top: 0;
  line-height: 1;
  color: #fff;
  z-index: 1;
  padding: 35px 25px;
  transition: .3s;
  opacity: 0;
}
.item_wrap > div > .text_wrap p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}
.item_wrap > div > .text_wrap p:nth-child(2) {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.025em;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.item_wrap > div > .text_wrap p:nth-child(3) {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  word-break: keep-all;
}
.item_wrap > div > .text_wrap span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;  
  color: #ccc;
}
.item_wrap .label {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.item_wrap .label p {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  padding: 5px 25px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background-color: #d60037;
}


.item_wrap > div:nth-child(2) {margin: 0 60px;}
.item_wrap > div:nth-child(5) {margin: 0 60px;}
.item_wrap > div:nth-child(8) {margin: 0 60px;}

.item_wrap > div:nth-child(1) {background: url(../images/deli2.jpg) no-repeat center / cover;}
.item_wrap > div:nth-child(2) {background: url(../images/deli3.jpg) no-repeat center / cover;}
.item_wrap > div:nth-child(3) {background: url(../images/deli4.jpg) no-repeat center / cover;}
.item_wrap > div:nth-child(4) {background: url(../images/deli5.jpg) no-repeat center / cover;}
.item_wrap > div:nth-child(5) {background: url(../images/deli6.jpg) no-repeat center / cover;}




/* footer__________________________ */
footer {
  height: 425px;
  padding: 60px 0;
  background-color: #333;
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  position: relative;
}
footer .inner {position: relative;}
footer::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #777;
}

.address {margin-bottom: 20px;}
.customer {margin-bottom: 50px;}
.ft_tit {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
.ft_txt {
  font-weight: 300;
  color: #9c9c9c;
}
.ft_txt span {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: #777;
}

.policy {margin-bottom: 30PX;}
.policy ul {display: flex;}
.policy ul li {margin-right: 45px;}
.policy ul li a {
  font-weight: bold;
  color: #fff;
}
.policy ul li a.color {color: #ffe720;}

.company_info p {line-height: 28px;}
.company_info p span {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #777;
  margin: 0 16px;
  vertical-align: middle;
}
.copy {
  font-size: 12px;
  font-weight: 300;
}
.sns {
  position: absolute;
  top: 0;
  right: 80px;
  display: flex;
}
.sns a {
  display: block;
  margin-left: 22px;
}
.sns a i {display: block;}